/* Your styles should be mobile-first and responsive */

* {
  box-sizing: border-box;
}

body {
  background-color: #2e3138;
  font-size: 18px;
}

h1 {
  text-align: center;
  font-family: futura;
  font-weight: bold;
  color: #f4f4f5;
  border: 3px double #f4f4f5;
  margin: 20px 15px 20px 15px;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

fieldset {
  margin: 15px;
  /* color: #f4f4f5; */
  border-radius: 10px;
  background-color: #f4f4f5;
  color: #2e3138;
}

legend {
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.options {
  padding-top: 5px;
}

.question-and-score {
  font-size: 16px;
}

.start-screen {
  margin: 20px 15px;
  border: 3px double #f4f4f5;
  padding: 10px;
  color: #EF8354;
}

.question-and-answer-box, .answer-page, .results {
  margin: 20px;
}

li {
  list-style: none;
  text-align: center;
}

.submit-answer-btn {
  padding-top: 15px;
}

#js-start-btn, #js-submit-answer-btn, #js-next-question-btn, #js-restart-quiz-btn {
  color: #34415e;
  background-color: #FFD97D;
  border-radius: 5px;
}

#question-number, #score {
  color: #EF8354;
  padding-bottom: 5px;
  text-align: center;
}